body{
   height: 10%;
   overflow: hidden; 
}
    
    
    .box1{
        border: 3px solid green;
      width: 40%;
      padding: 1px 1px 1px 50px;
      margin: 15% 25% 3% 25%;  
      outline: dotted 50px orange;
   
    }
    .box2{
       outline: 50px indigo; 
       border: 3px solid orange;
       width: 30%;
       margin: 10% 50% 10% 20%; 
       padding: 10px 70px 50px;
    }

    .box3{
       border: 3px solid violet;
       width: 60%;
       margin: 75% 25% 10% 25%;  
      
    }